---
import AppLayout from "../layouts/App.astro";
import GlobalNav from "../layouts/GlobalNav.astro";
import "@/assets/styles/pages/_index.scss";
import Link from "../components/Link.astro";
import ImgMainWebpPc from "@/assets/img/pc_main-visual.webp";
import ImgMainPc from "@/assets/img/pc_main-visual.jpg";
import ImgMainWebpSp from "@/assets/img/sp_main-visual.webp";
import ImgMainSp from "@/assets/img/sp_main-visual.jpg";
import Imgthumbnail01Webp from "@/assets/img/thumbnail01.webp";
import Imgthumbnail01 from "@/assets/img/thumbnail01.jpg";
import Imgthumbnail02Webp from "@/assets/img/thumbnail02.webp";
import Imgthumbnail02 from "@/assets/img/thumbnail02.jpg";
import Imgthumbnail03Webp from "@/assets/img/thumbnail03.webp";
import Imgthumbnail03 from "@/assets/img/thumbnail03.jpg";
import Imgthumbnail04Webp from "@/assets/img/thumbnail04.webp";
import Imgthumbnail04 from "@/assets/img/thumbnail04.jpg";
import Imgthumbnail05Webp from "@/assets/img/thumbnail05.webp";
import Imgthumbnail05 from "@/assets/img/thumbnail05.jpg";
import Imgthumbnail06Webp from "@/assets/img/thumbnail06.webp";
import Imgthumbnail06 from "@/assets/img/thumbnail06.jpg";
import ImgConceptWebp from "/src/assets/img/concept.webp";
import ImgConcept from "/src/assets/img/concept.jpg";

const meta = {
  title: "TOP | SkyCoffee",
  description:
    "SkyCoffeeのホームページです。心静かにコーヒーを。立ち止まって、空の青さを眺めて、一息つきましょう。",
  "og:title": "TOP | SkyCoffee",
  "og:description":
    "SkyCoffeeのホームページです。心静かにコーヒーを。立ち止まって、空の青さを眺めて、一息つきましょう。",
  "og:image": ImgMainPc.src,
};

const nav = [
  {
    name: "menu",
    path: "",
  },
  {
    name: "blog",
    path: "",
  },
  {
    name: "access",
    path: "",
  },
];
---

<AppLayout {meta}>
  <div class="kv">
    <div class="kv__inner"></div>
    <div class="kv__background">
      <picture>
        <source
          srcset={ImgMainWebpPc.src}
          type="image/webp"
          media="(min-width: 768px)"
        />
        <source srcset={ImgMainPc.src} media="(min-width: 768px)" />
        <source srcset={ImgMainWebpSp.src} type="image/webp" />
        <img
          src={ImgMainSp.src}
          alt="コーヒーカップが並ぶ画像"
          width={ImgMainSp.width}
          height={ImgMainSp.height}
          decoding="async"
          loading="eager"
        />
      </picture>
    </div>
  </div>
  <div class="globalNavWrap">
    <GlobalNav nav={nav} />
  </div>
  <div class="wrapper">
    <div class="concept">
      <div class="concept__inner">
        <div class="concept__imgWrap">
          <picture>
            <source
              srcset={ImgConceptWebp.src}
              type="image/webp"
              media="(min-width: 768px)"
            />
            <img
              class="concept__img"
              src={ImgConcept.src}
              alt="コーヒーカップが並ぶ画像"
              width={ImgConcept.width}
              height={ImgConcept.height}
              decoding="async"
              loading="eager"
            />
          </picture>
        </div>
        <div class="concept__textWrap">
          <div class="concept__textInner">
            <p class="concept__subTitle">Concept</p>
            <h2 class="concept__title">心静かにコーヒーを</h2>
            <p class="concept__text">
              立ち止まって、<br />空の青さを眺めて、<br />一息つきましょう
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="blog">
      <h2 class="blog__title">blog</h2>
      <p class="blog__subTitle">ブログ</p>
      <ul class="blog__list">
        <li class="blog__item">
          <a class="blog__link" href="">
            <div class="blog__linkInner">
              <div class="blog__imgWrap">
                <picture>
                  <source src={Imgthumbnail01Webp.src} type="image/webp" />
                  <img
                    class="blog__img"
                    src={Imgthumbnail01.src}
                    alt="キッチンカーの画像"
                    width="335"
                    height="172"
                    decoding="async"
                    loading="lazy"
                  />
                </picture>
              </div>
              <div class="blog__textWrap">
                <h3 class="blog__heading">コーヒーカー始めました。</h3>
                <time class="blog__datetime" datetime="2030-08-08"
                  >2030.08.08</time
                >
              </div>
            </div>
          </a>
        </li>
        <li class="blog__item">
          <a class="blog__link" href="">
            <div class="blog__linkInner">
              <div class="blog__imgWrap">
                <picture>
                  <source src={Imgthumbnail02Webp.src} type="image/webp" />
                  <img
                    class="blog__img"
                    src={Imgthumbnail02.src}
                    alt="キッチンカーの画像"
                    width="335"
                    height="172"
                    decoding="async"
                    loading="lazy"
                  />
                </picture>
              </div>
              <div class="blog__textWrap">
                <h3 class="blog__heading">濃厚クリーミーなミルクをどうぞ</h3>
                <time class="blog__datetime" datetime="2030-08-05"
                  >2030.08.05</time
                >
              </div>
            </div>
          </a>
        </li>
        <li class="blog__item">
          <a class="blog__link" href="">
            <div class="blog__linkInner">
              <div class="blog__imgWrap">
                <picture>
                  <source src={Imgthumbnail03Webp.src} type="image/webp" />
                  <img
                    class="blog__img"
                    src={Imgthumbnail03.src}
                    alt="キッチンカーの画像"
                    width="335"
                    height="172"
                    decoding="async"
                    loading="lazy"
                  />
                </picture>
              </div>
              <div class="blog__textWrap">
                <h3 class="blog__heading">
                  Sky Coffeeのオリジナル曲が完成！無料ダウン ロード可能です。
                </h3>
                <time class="blog__datetime" datetime="2030-08-02
								"
                  >2030.08.02
                </time>
              </div>
            </div>
          </a>
        </li>
        <li class="blog__item">
          <a class="blog__link" href="">
            <div class="blog__linkInner">
              <div class="blog__imgWrap">
                <picture>
                  <source src={Imgthumbnail04Webp.src} type="image/webp" />
                  <img
                    class="blog__img"
                    src={Imgthumbnail04.src}
                    alt="キッチンカーの画像"
                    width="335"
                    height="172"
                    decoding="async"
                    loading="lazy"
                  />
                </picture>
              </div>
              <div class="blog__textWrap">
                <h3 class="blog__heading">
                  ハイキング用のコーヒーを販売中です。
                </h3>
                <time class="blog__datetime" datetime="2030-07-28"
                  >2030.07.28</time
                >
              </div>
            </div>
          </a>
        </li>
        <li class="blog__item">
          <a class="blog__link" href="">
            <div class="blog__linkInner">
              <div class="blog__imgWrap">
                <picture>
                  <source src={Imgthumbnail05Webp.src} type="image/webp" />
                  <img
                    class="blog__img"
                    src={Imgthumbnail05.src}
                    alt="キッチンカーの画像"
                    width="335"
                    height="172"
                    decoding="async"
                    loading="lazy"
                  />
                </picture>
              </div>
              <div class="blog__textWrap">
                <h3 class="blog__heading">ショップの壁を塗ってみました。</h3>
                <time class="blog__datetime" datetime="2030-07-27"
                  >2030.07.27</time
                >
              </div>
            </div>
          </a>
        </li>
        <li class="blog__item">
          <a class="blog__link" href="">
            <div class="blog__linkInner">
              <div class="blog__imgWrap">
                <picture>
                  <source src={Imgthumbnail06Webp.src} type="image/webp" />
                  <img
                    class="blog__img"
                    src={Imgthumbnail06.src}
                    alt="キッチンカーの画像"
                    width="335"
                    height="172"
                    decoding="async"
                    loading="lazy"
                  />
                </picture>
              </div>
              <div class="blog__textWrap">
                <h3 class="blog__heading">ブログをはじめました。</h3>
                <time class="blog__datetime" datetime="2030-07-26"
                  >2030.07.26</time
                >
              </div>
            </div>
          </a>
        </li>
      </ul>
      <div class="blog__linkWrap">
        <Link href="" text="ブログ一覧" />
      </div>
    </div>
  </div>
</AppLayout>
